package Util;

public class Config {
    public static final String app_name = "HabiGo";
    public static final String app_url = "http://localhost:8080";
    public static String contextPath = "";

    public static final String email_address = "tranquangminh116@gmail.com";
    public static final String email_password = "";

    public static final String google_oauth_client_id = "";
    public static final String google_oauth_client_secret = "";
    public final String google_oauth_redirect_uri = app_url + contextPath + "/login-google";

    public String vnp_ReturnUrl = app_url + contextPath + "/vnpay-result";
    public static String vnp_TmnCode = "";
    public static String secretKey = "";
    public static String vnp_PayUrl = "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html";

    public static String comet_chat_app_id = "";
    public static String comet_chat_app_region = "in";
    public static String comet_chat_app_api_key = "";
}